@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
input {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    @apply bg-background-primary-light dark:bg-background-primary-dark;
    @apply text-text-primary-light dark:text-text-primary-dark;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/*Custom*/
.input {
    @apply w-full rounded-md border border-gray-300 px-4 py-2;
}

@layer utilities {
    .icon-xl {
        font-size: 1em;
    }

    .icon-2xl {
        font-size: 2em;
    }

    .icon-3xl {
        font-size: 3em;
    }
}