.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    z-index: 100;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 36px;
}

.header h1 {
    font-size: 3rem !important;
    font-weight: bold;
    margin: 0;
}

.header a {
    font-size: 1.5rem;
}

.rightbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}