.loader {
    margin: auto;
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid var(--secondary-text-color);
    height: 3rem;
    width: 3rem;
    animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}