@import '@fontsource/kanit/latin.css';
@import '@fontsource/montserrat/latin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-text;
		@apply bg-background_darker;
		@apply text-text;
	}

	nav a,
	footer a {
		@apply text-text no-underline;
	}

	h1,
	h2,
	h3,
	h4 {
		@apply font-heading;
	}

	h1 {
		font-weight: 800;
		@apply text-[1.7rem] md:text-[3rem] lg:text-[4rem];
	}

	h2 {
		font-weight: 700;
		@apply text-[1.5rem] md:text-[2rem] lg:text-[3rem];
	}

	h3 {
		font-weight: 700;
		@apply text-[1.3rem] md:text-[1.5rem] lg:text-[2.5rem];
	}

	h4 {
		font-weight: 600;
		@apply text-[1.1rem] md:text-[1.3rem] lg:text-[2rem];
	}

	p,
	a,
	li,
	th,
	td,
	span {
		@apply text-[0.8rem] md:text-[1.2rem] lg:text-[1.5rem];
	}

	a {
		@apply cursor-pointer text-grayedOut_light underline;
	}

	.dshadow {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
	}

	ol {
		@apply list-decimal list-inside;
	}

	ul {
		@apply list-disc list-inside;
	}

	/* Format tables nicely with border, padding in cells, ... */
	table {
		@apply border-collapse border-2 border-text;
		@apply my-4 p-4;
		@apply w-full;
		@apply table-auto text-left;
		@apply whitespace-nowrap;
	}

	th,
	td {
		@apply border-2;
	}

	th {
		@apply p-4;
		@apply font-bold;
	}

	td {
		@apply p-4;
	}

	pre {
		@apply bg-background_darker;
		@apply text-text;
		@apply p-4;
		@apply m-4;
		@apply rounded-md;
		@apply overflow-x-auto;
	}

	blockquote {
		@apply border-l-4 border-text;
		@apply bg-background_darker;
		@apply p-4;
		@apply m-4;
		@apply rounded-md;
		@apply overflow-x-auto;
	}

	hr {
		@apply border border-text;
		@apply my-4;
	}
}
